@keyframes fade-in {
    from { // initial styles
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

// whatever happens in-between start and end (optional), like:
// 50% { ... }

    to { // end styles
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-out {
    from { // initial styles
        opacity: 1;
        visibility: visible;
    }

    99% {
        visibility: visible;
        opacity: 0;
    }

    to { // end styles
        opacity: 0;
        visibility: hidden;
    }
}

// helper classes

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}