@import "variables";
@import "mixins";


html {
    font-size: 100%;
    box-sizing: border-box; /* makes the size of elements including border & padding in the final width */
}

/* to inherit the box-sizing */
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: $almostBlack;
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', monospace;
    font-size: $font-m;
    color: $white;
    line-height: 1.3;
}

a, a:visited, a:hover {
    text-decoration: none;   
    text-transform: uppercase;
    color: $white; 
}

// Titles

h2 {
    font-size: $font-xl;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1em;
}

h3 {

    font-size: $font-m;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5em;
}

// Flexbox

.flex {
    display: flex;

        &-jc-sb { //justify content - space between
        justify-content: space-between;
        }

        &-jc-c { //justify content - center
            justify-content: center;
        }
  
        &-ai-c { //align items - center
        align-items: center;
        }
}

// Buttons

.button { 

    width: 300px;
    background: $pink;
    padding: 0.875em 2.1875em;
    text-align: center;
    border: none;
    border-radius: 0%;
    cursor: pointer;

    font-family: 'Silkscreen';
    font-size: $font-l;
    font-weight: 700;
}

// Content

.biglogo img {
    width: 300px;
    margin-bottom: 0;
    vertical-align: bottom;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    align-items: flex-end;
    justify-content: space-between;
}

.content {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;

    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

// Video Background

.bgvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: -1;

    //video background
    @media (min-aspect-ratio: 16/9) {
    .bgvideo {
        width: 100%;
        height: auto;
    }
  }

    @media (max-aspect-ratio: 16/9) {
    .bgvideo {
        width: auto;
        height: 100%;
    }
  }
}


// Main Content

.infocontent {
    width: 100%;
    text-align: justify;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0 5%;

    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &__left {
            padding: 20px;
            flex: 50%;

            .purplebox {
                background-color: $purple;
                padding: 1em;
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }

        &__right {
            padding: 20px;
            flex: 50%;
        }

        &__right img {
            display: flex;
            max-width: 100%;
        }
    }

        @include breakpoint-down("medium") {
        .infocontent__inner {
          flex-direction: column;
        }
      }
}


.pixelart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin: 1.4em 1em 1.5em auto;

    p {
        color: $pink;
        margin: 0.5em;
        text-align: center;
        width: 100%;
      }

      img {
        margin: 0.5em;
        max-width: 100%;
        height: auto;
      }
}

// For Tournament Section

.infocontent__inner .gallery-item {
    width: 30%;
    padding: 0;
    margin-top: 1em;
    max-width: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }

    p {
        text-align: center;
    }

    .queque {
        color: $purple;
    }

    @include breakpoint-down("medium") {
        width: 100%;
        align-self: center;
        margin: 0 auto;
    }
}
  
  .gallery-item:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .gallery-item:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  // For Roleplay Section

.infocontent__inner .card {
    width: 22%;
    min-width: 15.625em;
    padding: 2%;
    margin-top: 1em;
    margin-bottom: 2em;
    max-width: 100%;
    overflow: hidden;
    background-color: $white;
    color: $black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        color: $pink;
        margin-top: 0;
        margin-bottom: 2em;
    }

    img {
        width: 100%;
        height: auto;
    }

    @include breakpoint-down("medium") {
        width: 100%;
        align-self: center;
        margin: 1em auto;
        padding: 5%;
    }
}

// Spacers

 .spacer {
    background-color: $white;
    width: 100%;
    height: 0.5em;
    text-align: center;  
    margin-top: 0;
    margin-bottom:0;
}

.spacerbottom {
    background-color: transparent;
    width: 100%;
    height: auto;
    text-align: center;  
    margin: 0;
}

.spacerbottom img {
    text-align: center;
    vertical-align: top;
}

// Form

.formcontainer {
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-around;

    .form-group {
        text-align: left;
        margin-bottom: 1em;
    }

}

form {
    width: 25em;
    display: flex;
    flex-direction: column;
    background-color: $purple;
    color: $pink;
    padding: 2em;

    label {
        line-height: 2.5em;
    }

    p {
        margin-bottom: 3em;
        text-align: center;
        color: $white;
        font-size: $font-l;
    }

    small {
        color: $black;
        margin-top: 1em;
    }

    .form-control {
        width: 100%;
        height: 4em;
        padding: 1em;
        border-radius: 0;
        border: 3px solid $black;
    }

    .cta-button {
        margin-top: 2em;
        width: 100%;

        a, a:visited, a:active {
            color: $black;
        }
    }
    
}

footer {
    background-color: $white;
    height: 12em;
    margin-top: 5em;
    color: $almostBlack;

    p {
        width: 100%;
        margin: 1em auto 0 0;
        text-align: center;
        vertical-align: middle;
        background-color: $white;

        @include breakpoint-down("medium") {
            display: block;
            white-space: break-spaces;
            margin: 0 auto;
        }
    }

    a, a:visited, a:active, a:hover {
        color: $almostBlack; 
        margin: 0 2em 0em 2em;
        text-align: center;

        @include breakpoint-down("medium") {
            display: block;
            padding: 0.5em;
            margin: 0em 0 2em 0em;
        }
    }

    .spacertop {
        background-color: $almostBlack;
        width: 100%;
        height: auto;
        text-align: center;  
        margin: 0;
        margin-bottom: 3.5em;
    }

    .spacertop img {
        text-align: center;
        vertical-align: bottom;
    }
}
